<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul>
    <li>{{ user.username }}</li>
    <li>{{ user.userprofile.member.first_name }}</li>
    <li>{{ user.userprofile.member.last_name }}</li>
    <li>{{ user.userprofile.member.dob }}</li>
    <li>{{ user.userprofile.member.marital_status }}</li>
    <li>{{ user.userprofile.member.occupation }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.date_joined }}</li>
  </ul>
</body>
</html>